html,
body {
	min-width: 1250px; 
	min-height: 2433px;
	margin: 0;
	padding: 0;
}

body {
	background-size: 1200px auto;
	background-image: url(../img/fon1.png); 
	width: 1250px;
    height: 2449px;
    margin: auto;
    link: "white";
}

a {
	color: white;
}

.clearfix::after {
	content: "";

	display: table;
	clear: both;
}

.header-container {
	height: 125px;
	width: 1200px;
	margin-bottom: 50px;
	margin: 0 auto;
}

.container {
	width: 1200px;
	height: 125px;
	padding: 8px 8px;
	margin: 10px auto;
}

.main-nav-block {
	min-height: 120px;
	width: 530px;
	float: left;
	margin-right: 357px;

}

.logo-main {
    width: 155px;
    height: 64px;
    float: left;
    margin-right: px;
    margin-left: 25px;
    margin-top: 8px;
}

.main-nav {
	width: 350px;
	float: right;
	margin-top: 12px;
	
}

li {
	list-style-type: none;
}

.main-nav-list > li {
	font-size: 16px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.125;
  text-align: left;
}

.main-nav-item {
	float: left
  
}

.main-nav-item:first-child {
	width: 70px;
	margin-right: 0px;
}

.main-nav-item:last-child {
	float: right;
	width: 100px;
	margin-left: 0px;
}

.user-block {
	min-height: 120px;
	
	width: 265px;
	float: right;
	margin-top: 21px;
	margin-right: 26px;

}

.search {
	width: 33px;
    height: 33px;
    float: left;
    margin-right: 10px;
    background-image: url(../img/search.png);
}

.user-login {
	width: 93px;
    height: 32px;
    float: left;
    margin-right: 9px;
    background-image: url(../img/enter.png);
}

.basket {
	width: 117px;
    height: 32px;
    float: right;
    background-image: url(../img/basket.png);
}

.phone-numbers {
	margin-top: 20px;
	left: 727.938px;
    top: 88.249px;
    float: right;
    font-size: 14px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.line-one {
  line-height: 1.143;
  text-align: right;
  left: 1020.938px;
  top: 88.249px;
  float: right;
}

.line-two {
  line-height: 1.091;
  text-align: right;
  left: 1006.937px;
  top: 92.499px;
  float: right;
}








.main {
	border-style: solid;
	border-width: 5px;
	border-color: red;
}

.slider-frontpage {
	border: 2px solid green;
	margin-bottom: 10px;
}

.banners {
	border: 2px solid green;
	margin-bottom: 10px;
}

.banner {
	float: left;
	width: 400px;
	margin-right: 20px;
}

.banner:last-child {
	margin-right: 0px;
}

.hits {
	border: 2px solid green;
	margin-bottom: 10px;
	width: 880px;
	height: 150px;
}

.hit {
	float: left;
	width: 190px;
	margin-right: 5px;
}

.hit:last-child {
	margin-right: 0px;
}

.about-frontpage {
	border: 2px solid green;
	margin-bottom: 10px;
}

.blog-and-mailing {
	border: 2px solid green;
	margin-bottom: 10px;
}

.blog {
	float: left;
	width: 400px;
	border: 1px solid white;
}


.mailing-list {
	float: right;
	width: 400px;
	border: 1px solid white;
}

.map-front {
	border: 2px solid green;
}

.main-footer {
	margin-top: 10px;
	background-color: rgb(200, 134, 40);
}

.social-networks {
	border: 1px solid white;
	float: left;
	width: 200px;
	margin-right: 20px;
}

.links-footer {
	border: 1px solid white;
	float: left;
	width: 200px;
	margin-right: 50px;
}

.developers {
	border: 1px solid white;
	float: right;
	width: 200px;
}





