/*--- reset ---*/

html,
body {
	
	margin: 0;
	padding: 0;
}

body {
	background-color: #849d8f;
}
	     
	     
a {
	color: white;
}

ul {
	padding: 0;
}

@font-face {
  font-family: 'roboto-regular';
  src: url('../fonts/roboto.woff2') format('woff2'), / Super Modern Browsers /
       url('roboto.woff') format('woff'); / Pretty Modern Browsers /
}


.logo-link {
	float: left;
}

/*--USEFUL CLASSES --*/
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

/*--------------------*/

.header-container {
	margin-bottom: 50px;
	overflow: hidden;
}



.main-nav-block {
	max-width: 800px;
	float: left;
}

.logo-main {
    width: 155px;
    height: 64px;
    margin-left: 25px;
    margin-right: 10px;
    margin-top: 8px;
    float: left;
}

.main-nav {
	margin-top: 12px;
	float: left;
	
}

li {
	list-style-type: none;
}

.main-nav-list > li {
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.125;
  text-align: left;
}

.main-nav-item {
	float: left;
}

.main-nav-item a{
	padding: 9px 12px;
	display: inline-block;	
}

.main-nav-item a:hover {
	display: inline-block;
	background-color: #c4cdc6;
	border-radius: 18px;
	color: #565655;
}

.pop-down {
	position: absolute;
	display: none;
}

.pop-down:hover {
	display: block;
	background-color: #c4cdc6;
	border-radius: 3px;
	color: #565655;
	padding: 12px;
}

.new {
	font-weight: bold;
	text-decoration: underline;
}

hr {
	{
    border: none; 
    background-color: #b5c3bc; 
    height: 2px;
}

.pop-down a:hover {
	background-color: #fbded7;
}

.pop-down a:active {
	background-color: #f6b5a5;
}

.pop-down a:visited {
	background-color: #d07058;
	color: white;
}

.user-block {
	float: right;
	width: 275px;
	background-color: red;
}

.search {
	display: block;
	width: 33px;
    height: 33px;
    background-color: white;
	border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.icon-search {
	background-image: url(../img/sprite1.png);
	background-repeat: no-repeat;
	background-position: -4px -22px;
	display: inline-block;

}

.user-login {
	width: 93px;
    height: 32px;
    background-color: #9db1a5;
	border-radius:
    float: left;
    margin-right: 9px;
    
}

.basket {
	width: 117px;
    height: 32px;
    background-color: #9db1a5;
	border-radius:
    float: right;
    
}

.phone-numbers {
	margin-top: 20px;
	left: 727.938px;
    top: 88.249px;
    float: right;
    font-size: 14px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.line-one {
  line-height: 1.143;
  text-align: right;
  left: 1020.938px;
  top: 88.249px;
  float: right;
}

.line-two {
  line-height: 1.091;
  text-align: right;
  left: 1006.937px;
  top: 92.499px;
  float: right;
}








.main {
	border-style: solid;
	border-width: 5px;
	border-color: red;
}

.slider-frontpage {
	border: 2px solid green;
	margin-bottom: 10px;
}

.banners {
	border: 2px solid green;
	margin-bottom: 10px;
}

.banner {
	float: left;
	width: 400px;
	margin-right: 20px;
}

.banner:last-child {
	margin-right: 0px;
}

.hits {
	border: 2px solid green;
	margin-bottom: 10px;
	width: 880px;
	height: 150px;
}

.hit {
	float: left;
	width: 190px;
	margin-right: 5px;
}

.hit:last-child {
	margin-right: 0px;
}

.about-frontpage {
	border: 2px solid green;
	margin-bottom: 10px;
}

.blog-and-mailing {
	border: 2px solid green;
	margin-bottom: 10px;
}

.blog {
	float: left;
	width: 400px;
	border: 1px solid white;
}


.mailing-list {
	float: right;
	width: 400px;
	border: 1px solid white;
}

.map-front {
	border: 2px solid green;
}

.main-footer {
	margin-top: 10px;
	background-color: rgb(200, 134, 40);
}

.social-networks {
	border: 1px solid white;
	float: left;
	width: 200px;
	margin-right: 20px;
}

.links-footer {
	border: 1px solid white;
	float: left;
	width: 200px;
	margin-right: 50px;
}

.developers {
	border: 1px solid white;
	float: right;
	width: 200px;
}





